@media (max-width:420px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #lezioni .row>.left, 
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: 100%;
        padding: 15px 0px;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        margin-top: 25px;
    }

    #why .row>.third {
        padding-bottom: 15px;
    }

    .row {
        width: 100%;
        margin-top: 0px;
        padding-top: 20px;
    }

    #lezioni, #why {
        background-color: #eeeeca;
    }

}


/* APPLICATO LA SOLUZIONE PER IL BACKGROUND VISTA CON SIMONE */
@media (min-width: 421px) {
    .row {
        width: 100%;
    }
}